@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* Nav bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 18px 0;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

/* hero */
.hero-container {
  height: 100vh;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

.hero-content-container {
  display: flex;
  gap: 32px;
  padding: 150px 0;
  flex: 1 1 auto;
}

.hero-content-right,
.image-placeholder {
  flex: 1 1 0;
}

.hero-content-right {
  align-self: center;
}

/* hero text */
h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
}

.hero-text {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 17px 0;
}

/* image placeholder */
.image-placeholder {
  background-color: gray;
  color: #e5e7eb;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button */
button {
  color: #f9faf8;
  font-weight: 500;
  font-size: 18px;
  min-width: 125px;
  padding: 4px 0;
  border-radius: 10px;
  cursor: pointer;
}

.primary {
  background-color: #3882f6;
  border: 2px solid #3882f6;
}

.outlined {
  background-color: inherit;
  border: 2px solid #f9faf8;
}

/* Information */
.information {
  padding-top: 50px;
  height: 50vh;
}

.items-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.information-item {
  width: 180px;
}

.item-image {
  height: 180px;
  border: 5px solid #3882f6;
  border-radius: 20px;
  margin-bottom: 8px;
}

.item-text {
  color: gray;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
}

/* Testimonial section */
.testimonial {
  height: 50vh;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

cite {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

cite + p {
  font-weight: 700;
  font-size: 24px;
  text-align: end;
}

/* Signup */
.signup-container {
  height: 40vh;
}

.signup-content {
  background-color: #3882f6;
  padding: 50px 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup-content > button {
  flex: 0 0 auto;
}

.signup-header {
  font-weight: 700;
  color: #f9faf8;
  font-size: 24px;
}

.signup-text {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 400;
}

footer {
  background-color: #1f2937;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > p {
  color: #f9faf8;
  font-size: 18px;
  font-weight: 400;
}
