<div class="hero-container bg-dark px_m">
  <nav>
    <span class="logo text-primary">Header Logo</span>
    <ul class="text-secondary">
      <li><a> header link one </a></li>
      <li><a> header link two </a></li>
      <li><a> header link three </a></li>
    </ul>
  </nav>
  <section class="hero-content-container">
    <div class="hero-content-right">
      <h1 class="text-primary">This website is awesome</h1>
      <p class="hero-text text-secondary">
        This website has some subtext that goes here under the main title. It's
        a smaller font and the color is lower contrast
      </p>
      <button class="primary text-primary">Sign up</button>
    </div>
    <div class="image-placeholder">this is a placeholder for an image</div>
  </section>
</div>
