<div class="hero-container">
  <nav>
    <span class="logo">Header Logo</span>
    <ul>
      <li><a> header link one </a></li>
      <li><a> header link two </a></li>
      <li><a> header link three </a></li>
    </ul>
  </nav>
  <section class="hero-content-container">
    <div class="hero-content-right">
      <div class="hero-text">
        <h1>This website is awesome</h1>
        <p class="hero-text">
          This website has some subtext that goes here under the main title.
          It's a smaller font and the color is lower contrast
        </p>
      </div>
      <button class="primary">Sign up</button>
    </div>
    <div class="image-placeholder">this is a placeholder for an image</div>
  </section>
</div>
